/* GLOBAL VARIABLES */
body {
--num-rows: 22;
--row-height: .5in; 
--num-cols: 17;
--col-width: .5in; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


main {
  background-color: #282c34;
  padding-bottom: 40px;
}
main .Spreadsheet {
  background-color: #282c34;
}

/*** GRID ***/

#Grid {
  display: grid;
  position: relative;
  margin: auto;
  width: 95%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-template-rows: repeat(var(--num-rows), minmax(var(--row-height), auto));
  grid-template-columns: repeat(var(--num-cols), minmax(var(--col-width), auto));
}

#Grid div{
  border: .2px solid white;
}























