/* GLOBAL VARIABLES */
body {
--num-rows: 31;
--row-height: 35px; 
--num-cols: 24;
--col-width: 35px; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sheetbloc {
  z-index: 3;
}

main {
  background-color: #282c34;
  padding-bottom: 40px;
}
main .Spreadsheet {
  background-color: #282c34;
}

/*** GRID ***/

#Grid {
  display: grid;
  position: relative;
  margin: auto;
  width: 840px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-template-rows: repeat(var(--num-rows), minmax(var(--row-height), auto));
  grid-template-columns: repeat(var(--num-cols), minmax(var(--col-width), auto));
  margin-bottom: 40px;
  background-color: #e3dac9;
}

#Grid .bloc {
  border: 1px solid transparent;
}

#Grid .bloc:hover {
  border: 1px solid white;
}

#Grid .Guide {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
}

#Grid .rowGuide {
  width: 100%;
  height: var(--row-height);
}

#Grid .colGuide {
  height: 100%;
  width: var(--col-width);
}

.bloc {
    position: relative;
    z-index: 100;
}

.dragHandle {
    background-color: #c3c3c3;
    width: 200px;
    margin: auto;
    padding: 4px;
    border: 1 px solid transparent;
    border-radius: 14px;
}
